
  .card {
/* border: 1px solid red; */
  width: 250px;
  height: 250px;
  margin: 1rem auto;
  perspective: 1000px;
  cursor: pointer;

}

.card-inner {
    /* border: 1px solid red; */
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  object-fit: fill;
  box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.25)
;
}

.card-front {
    /* border: 1px solid red; */
  background: white;
  border: 1px solid #e5e7eb;
}

.card-front img {
    height: 280px;
    width: 280px;
}

.card-back {
  border: 1px solid black;
  background: lightblue;
  color: black;
  border-radius: 50%;
  text-align: center;
  transform: rotateY(180deg);
}
